.container {  display: grid;
  grid-template-columns: 0.07fr 1.00fr 0.07fr;
  grid-template-rows: 0.07fr 0.10fr 0.08fr 0.5fr 0.10fr 0.15fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". title ."
    ". tagline ."
    ". gallery ."
    ". aboutus ."
    ". . .";
}
.title { grid-area: title; }
.tagline { grid-area: tagline; }
.gallery { grid-area: gallery; }
.aboutus { grid-area: aboutus; }


.search-bar {
  position: sticky;
  top: 10px;
  width: 100%;
  z-index: 1;
}

body {
  color: #ffff00;
  background-color: #0c2a36;
  font-family: 'Monospace';
  text-transform: lowercase;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 2em;
  text-align: left;
}

p {
  font-size: 1.5em;
  margin: 1em 0;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1.3s infinite ease-in-out;
}
